---
layout: default
title: 主页
---

<div class="content">
  <!-- 显示置顶文章 -->
{% assign sticky_posts = site.posts | where_exp: "post", "post.tags contains '置顶'" %}
{% for post in sticky_posts %}
  <div class="post-item" onclick="window.location='{{ post.url | relative_url }}'">
    <h3><span style="color:red;">[置顶]</span> {{ post.title }}</h3>
    <p><strong>发布于：</strong>{{ post.date | date: "%Y年%m月%d日" }}</p>
    <p>{{ post.excerpt | strip_html | truncate: 35 }}</p>
  </div>
  <hr>
{% endfor %}


{% assign non_sticky_posts = "" | split: "," %}
  {% for post in site.posts %}
    {% unless post.tags contains '置顶' %}
      {% assign non_sticky_posts = non_sticky_posts | push: post %}
    {% endunless %}
  {% endfor %}

  <!-- 手动分页 -->
  {% assign page_offset = paginator.page | minus: 1 | times: paginator.per_page %}
  {% assign paginated_posts = non_sticky_posts | slice: page_offset, paginator.per_page %}

  {% for post in paginated_posts %}
    <div class="post-item" onclick="window.location='{{ post.url | relative_url }}'">
      <h3>{{ post.title }}</h3>
      <p><strong>发布于：</strong>{{ post.date | date: "%Y年%m月%d日" }}</p>
      <p>{{ post.excerpt | strip_html | truncate: 35 }}</p>
    </div>
  {% endfor %}

  <hr>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}"><<</a>
  {% else %}
    {% if paginator.page == 1 %}
      <a href="{{ '/page' | append: paginator.total_pages | relative_url }}"><<</a>
    {% else %}
      <a href="{{ paginator.total_pages | relative_url }}"><<</a>
    {% endif %}
  {% endif %}
        
  <span>[{{ paginator.page }}/{{ paginator.total_pages }}]</span>
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">>></a>
  {% else %}
    <a href="{{ '/' | relative_url }}">>></a>
  {% endif %}
</div>
{% endif %}
