<!-- 这个复选框用于控制侧栏的显示和隐藏 -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
	
<div class="sidebar" id="sidebar">

  <!-- 个人信息部分，包括头像和昵称 -->
  <div class="sidebar-item profile">
    <img src="{{ '/assets/images/avatar.png' | absolute_url }}" alt="头像" class="profile-avatar"> 
    <h4 class="profile-name">任亚墨</h2> 
  </div>
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <!-- Navigation menu -->
  <!-- 导航菜单，包含主页、其他页面链接 -->
  <nav class="sidebar-nav">
    <!-- Additional pages -->
    <!-- 生成其他页面的链接 -->
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null and node.url != '/about' %}
        <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">
          {{ node.title }}
        </a>
      {% endif %}
    {% endfor %}

   
  </nav>
</div>
