<!DOCTYPE html>
<html lang="zh-cn">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>
    

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
    
      <footer>
   <div class="footer-content">
    <p>&copy; {{ "now" | date: "%Y" }} 任亚墨. 无特殊声明采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans" target="_blank">CC BY-NC-SA 4.0</a> 授权</p>
    <p><a href="https://icp.gov.moe/?keyword=20248014" target="_blank">萌ICP备20248014号</a></p>
   </div>
      </footer>
  </body>
</html>
